# Strava API Credentials
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_DOMAIN= # Optional: set to sub12.fr if you have redirect issues with www.
FIREBASE_SERVICE_ACCOUNT=

# Gemini API Key (handled by platform)
GEMINI_API_KEY=
